Repository Geoplateforme/sdk-entrepot, changes with the labels that .github/labeler.yml gives for each.
All labels: tooling, documentation, enhancement, quality

ooops 2
  docs/tutoriel_pcrs.md
Labels: documentation

ooops 3
  docs/tutoriel_pcrs.md
Labels: documentation

Update docs/tutoriel_pcrs.md
  docs/tutoriel_pcrs.md
Labels: documentation

Update docs/tutoriel_pcrs.md
  docs/tutoriel_pcrs.md
Labels: documentation

remarques melodia et valentin
  docs/tutoriel_pcrs.md
Labels: documentation

relecture
  docs/tutoriel_pcrs.md
Labels: documentation

Deployed 8882f61 with MkDocs version: 1.6.1
  configuration/index.html
  search/search_index.json
  sitemap.xml.gz
  tutoriel_pcrs/index.html
Labels: none

fix
  docs/tutoriel_pcrs.md
Labels: documentation

Deployed 5561e5a with MkDocs version: 1.6.1
  configuration/index.html
  search/search_index.json
  tutoriel_pcrs/index.html
Labels: none

Deployed 4d19a5e with MkDocs version: 1.6.1
  comme-executable/index.html
  upload_descriptor/index.html
  workflow/index.html
Labels: none

fix(doc) : maj liens
  docs/comme-executable.md
  docs/upload_descriptor.md
  docs/workflow.md
Labels: documentation

debug
  sdk_entrepot_gpf/scripts/entities.py
Labels: none

fix(logs) : debug affichage
  sdk_entrepot_gpf/scripts/entities.py
  sdk_entrepot_gpf/store/interface/LogsInterface.py
Labels: none

feat(logs) : messages
  sdk_entrepot_gpf/scripts/entities.py
  sdk_entrepot_gpf/store/interface/LogsInterface.py
  tests/store/interface/LogsInterfaceTestCase.py
Labels: quality

fix(workflow) : WMTS
  sdk_entrepot_gpf/_data/workflows/PCRS.jsonc
  sdk_entrepot_gpf/_data/workflows/generic_joincache.jsonc
Labels: none

init v0.1.40
  CHANGELOG.md
  sdk_entrepot_gpf/__init__.py
Labels: none

Ajout des tests du range_total_page
  sdk_entrepot_gpf/io/ApiRequester.py
  tests/io/ApiRequesterTestCase.py
Labels: quality

Canton File
  sdk_entrepot_gpf/_data/datasets/1_dataset_vector/CANTON/CANTON.shp
  sdk_entrepot_gpf/_data/datasets/2_dataset_archive/CANTON/CANTON.zip
  tests/_data/datasets/2_test_dataset_bad_md5/CANTON/CANTON.shp
Labels: quality

Ajout du logs_advanced avec tests
  sdk_entrepot_gpf/store/interface/LogsInterface.py
  tests/io/ApiRequesterTestCase.py
  tests/store/interface/LogsInterfaceTestCase.py
Labels: quality

Modifications du retour de api_logs_filter en Log_List
  sdk_entrepot_gpf/scripts/entities.py
  sdk_entrepot_gpf/store/interface/LogsInterface.py
Labels: none

Mise a jour des tests
  tests/store/interface/LogsInterfaceTestCase.py
Labels: quality

Modification du CHANGELOG
  CHANGELOG.md
Labels: none

Modifications pour passer le check.sh
  sdk_entrepot_gpf/store/interface/LogsInterface.py
  tests/store/interface/LogsInterfaceTestCase.py
Labels: quality

Mise a jour des test du LogInterface et Changelog
  CHANGELOG.md
  tests/store/interface/LogsInterfaceTestCase.py
Labels: quality

Changement du champ visibility en open
  sdk_entrepot_gpf/store/Upload.py
Labels: none

Modifications des tests
  tests/store/interface/LogsInterfaceTestCase.py
Labels: quality

Doc workflow: action delete-entity, ajout du paramètre `"confirm"`qui n'était pas mentionné dans la documentation
  CHANGELOG.md
  docs/workflow.md
Labels: documentation

Tuto_archive : correction suite retour utilisateur
  docs/tutoriel_1_archive.md
Labels: documentation

Changelog
  CHANGELOG.md
Labels: none

Deployed c03b8790 with MkDocs version: 1.6.1
  404.html
  assets/javascripts/bundle.c8b220af.min.js
  assets/javascripts/bundle.c8b220af.min.js.map
  assets/javascripts/bundle.f1b6f286.min.js
  assets/javascripts/bundle.f1b6f286.min.js.map
  comme-executable/index.html
  comme-module/index.html
  configuration/index.html
  configuration_details/index.html
  development/index.html
  index.html
  objects.inv
  reference/auth/index.html
  reference/io/index.html
  reference/store/index.html
  reference/workflow/action/index.html
  reference/workflow/index.html
  reference/workflow/resolver/index.html
  resolveurs/index.html
  search/search_index.json
  sitemap.xml.gz
  tutoriel_1_archive/index.html
  tutoriel_2_flux_vecteur/index.html
  tutoriel_3_flux_raster/index.html
  tutoriel_pcrs/index.html
  upload_descriptor/index.html
  workflow/index.html
Labels: none

ApiRequester: retry lors d'un timeout pour les requêtes GET
  CHANGELOG.md
  sdk_entrepot_gpf/io/ApiRequester.py
Labels: none

init v0.1.42
  CHANGELOG.md
  sdk_entrepot_gpf/__init__.py
Labels: none

Debug : correction suite modification GPF
  CHANGELOG.md
  docs/workflow.md
  sdk_entrepot_gpf/_data/workflows/PCRS.jsonc
  sdk_entrepot_gpf/_data/workflows/generic_archive.jsonc
  sdk_entrepot_gpf/_data/workflows/generic_joincache.jsonc
  sdk_entrepot_gpf/_data/workflows/generic_maj_bdd.jsonc
  sdk_entrepot_gpf/_data/workflows/generic_moissonnage.jsonc
  sdk_entrepot_gpf/_data/workflows/generic_raster.jsonc
  sdk_entrepot_gpf/_data/workflows/generic_vecteur.jsonc
  sdk_entrepot_gpf/store/StoredData.py
Labels: documentation

init v0.1.43
  CHANGELOG.md
  sdk_entrepot_gpf/__init__.py
Labels: none

edit-entity: suppression de la limitation sur les used_data
  docs/workflow.md
  sdk_entrepot_gpf/store/Configuration.py
  tests/store/ConfigurationTestCase.py
Labels: documentation, quality

Changelog
  CHANGELOG.md
Labels: none

Update workflow.md
  docs/workflow.md
Labels: documentation

Possibilité de préciser l'emplacement du fichier de configuration via une variable d'environnement SDK_ENTREPOT_CONFIG_FILE
  CHANGELOG.md
  docs/comme-executable.md
  sdk_entrepot_gpf/scripts/run.py
Labels: documentation

Main: ajout de tests
  sdk_entrepot_gpf/scripts/run.py
  tests/scripts/MainTestCase.py
Labels: quality

used_data-configuration: gestion des doublons
  CHANGELOG.md
  docs/workflow.md
  sdk_entrepot_gpf/_conf/json_schemas/workflow.json
  sdk_entrepot_gpf/workflow/action/EditUsedDataConfigurationAction.py
  tests/workflow/action/EditUsedDataConfigurationActionTestCase.py
Labels: documentation, quality

.github/labeler.yml:

tooling:
  - .github/**/*
  - .gitignore
  - pyproject.toml

dependencies:

documentation:
  - docs/**/*

enhancement:
  - src/**/*
  - pyproject.toml

quality:
  - tests/**/*
