Repository Geoplateforme/sdk-entrepot, changes with the labels that .github/labeler.yml gives for each.
All labels: tooling, documentation, enhancement, quality

.github/labeler.yml:

tooling:
  - .github/**/*
  - .gitignore
  - pyproject.toml

dependencies:

documentation:
  - docs/**/*

enhancement:
  - src/**/*
  - pyproject.toml

quality:
  - tests/**/*

Deployed 611f74a with MkDocs version: 1.5.3
  search/search_index.json
  sitemap.xml.gz
  tutoriel_pcrs/index.html
Labels: none

init v0.1.39
  CHANGELOG.md
  sdk_entrepot_gpf/__init__.py
Labels: none

fix(workflow) : ok si pas de parent
  CHANGELOG.md
  sdk_entrepot_gpf/workflow/Workflow.py
Labels: none

Amélioration de la description de l'extent
  sdk_entrepot_gpf/scripts/entities.py
Labels: none

Ajout de l'api logs pages filter
  sdk_entrepot_gpf/store/interface/LogsInterface.py
Labels: none

feature(workflow) : attribut "parents" optionnel
  docs/workflow.md
  sdk_entrepot_gpf/_conf/json_schemas/workflow.json
  sdk_entrepot_gpf/_data/workflows/generic_moissonnage.jsonc
  tests/workflow/WorkflowTestCase.py
Labels: documentation, quality

fix(git) : changement de droits ?
  sdk_entrepot_gpf/_data/datasets/1_dataset_vector/CANTON/CANTON.shp
  sdk_entrepot_gpf/_data/datasets/2_dataset_archive/CANTON/CANTON.zip
  tests/_data/datasets/2_test_dataset_bad_md5/CANTON/CANTON.shp
  tests/_data/datasets/3_test_dataset_sub_dir/CANTON/CANTON.shp
Labels: quality

Généralisation des méthodes du logsinterface
  sdk_entrepot_gpf/scripts/entities.py
  sdk_entrepot_gpf/scripts/run.py
  sdk_entrepot_gpf/store/interface/LogsInterface.py
  tests/store/interface/LogsInterfaceTestCase.py
Labels: quality

feature(extent) : ajout dépendance shapely
  pyproject.toml
Labels: tooling, enhancement

feature(extent) : mypy et pylint
  sdk_entrepot_gpf/scripts/entities.py
Labels: none

init v0.1.40
  CHANGELOG.md
  sdk_entrepot_gpf/__init__.py
Labels: none

Clarification des conditions de l'affichage
  sdk_entrepot_gpf/scripts/entities.py
Labels: none

change Canton.shp
  tests/_data/datasets/3_test_dataset_sub_dir/CANTON/CANTON.shp
Labels: quality

change Canton.shp
  tests/_data/datasets/3_test_dataset_sub_dir/CANTON/CANTON.shp
Labels: quality

Initialisation du logs advanced et des tests
  sdk_entrepot_gpf/store/interface/LogsInterface.py
  tests/store/interface/LogsInterfaceTestCase.py
Labels: quality

ajout du range_total_page dans apirequester
  sdk_entrepot_gpf/io/ApiRequester.py
  sdk_entrepot_gpf/store/interface/LogsInterface.py
  tests/store/interface/LogsInterfaceTestCase.py
Labels: quality

feature(extent) : valeur paramètre optionnel
  sdk_entrepot_gpf/scripts/entities.py
Labels: none

Finalisation des test pour le logs advanced
  sdk_entrepot_gpf/store/interface/LogsInterface.py
  tests/store/interface/LogsInterfaceTestCase.py
Labels: quality

Ajout des fonctions set_ket et delete_key dans EntityStore
  sdk_entrepot_gpf/scripts/entities.py
  sdk_entrepot_gpf/store/StoreEntity.py
  tests/store/StoreEntityTestCase.py
Labels: quality

change Canton files
  sdk_entrepot_gpf/_data/datasets/1_dataset_vector/CANTON/CANTON.shp
  sdk_entrepot_gpf/_data/datasets/2_dataset_archive/CANTON/CANTON.zip
  tests/_data/datasets/2_test_dataset_bad_md5/CANTON/CANTON.shp
Labels: quality

Ajout de docstrings
  sdk_entrepot_gpf/scripts/entities.py
Labels: none

fix (cli): affichage id check execution
  CHANGELOG.md
  sdk_entrepot_gpf/scripts/entities.py
Labels: none

choix endpoint
  sdk_entrepot_gpf/_data/workflows/PCRS.jsonc
Labels: none

feature(Endpoint) : api_list non sensible à la casse
  CHANGELOG.md
  sdk_entrepot_gpf/store/Endpoint.py
Labels: none

Check pylint
  sdk_entrepot_gpf/scripts/entities.py
Labels: none

feat(PCRS) : modif selon retours
  docs/tutoriel_pcrs.md
Labels: documentation

fix(typo)
  docs/tutoriel_pcrs.md
Labels: documentation

Update des tests
  sdk_entrepot_gpf/scripts/entities.py
  sdk_entrepot_gpf/scripts/run.py
  sdk_entrepot_gpf/store/interface/LogsInterface.py
  tests/store/interface/LogsInterfaceTestCase.py
Labels: quality

feat(doc) : tâche et fichier de config
  docs/configuration.md
Labels: documentation

fix(docs) : tuto PCRS
  docs/tutoriel_pcrs.md
Labels: documentation

Finalisation des tests
  sdk_entrepot_gpf/store/interface/LogsInterface.py
  tests/store/interface/LogsInterfaceTestCase.py
Labels: quality

Ajout CHANGELOG
  CHANGELOG.md
Labels: none

Ajout CHANGELOG
  CHANGELOG.md
Labels: none

fix(tuto)
  docs/tutoriel_pcrs.md
Labels: documentation

fix entities
  sdk_entrepot_gpf/scripts/entities.py
Labels: none

refactorisation du code pour le merge
  sdk_entrepot_gpf/io/ApiRequester.py
  sdk_entrepot_gpf/scripts/entities.py
  sdk_entrepot_gpf/store/interface/LogsInterface.py
  tests/store/interface/LogsInterfaceTestCase.py
Labels: quality

Deployed 4cf5bf9 with MkDocs version: 1.6.1
  404.html
  assets/_mkdocstrings.css
  assets/javascripts/bundle.6c14ae12.min.js
  assets/javascripts/bundle.6c14ae12.min.js.map
  assets/javascripts/bundle.c8b220af.min.js
  assets/javascripts/bundle.c8b220af.min.js.map
  assets/javascripts/workers/search.f886a092.min.js
  assets/javascripts/workers/search.f886a092.min.js.map
  assets/javascripts/workers/search.f8cc74c7.min.js
  assets/javascripts/workers/search.f8cc74c7.min.js.map
  assets/stylesheets/main.8608ea7d.min.css
  assets/stylesheets/main.8608ea7d.min.css.map
  assets/stylesheets/main.fad675c6.min.css
  assets/stylesheets/main.fad675c6.min.css.map
  assets/stylesheets/palette.06af60db.min.css
  assets/stylesheets/palette.06af60db.min.css.map
  assets/stylesheets/palette.356b1318.min.css
  assets/stylesheets/palette.356b1318.min.css.map
  comme-executable/index.html
  comme-module/index.html
  configuration/index.html
  configuration_details/index.html
  development/index.html
  index.html
  reference/auth/index.html
  reference/io/index.html
  reference/store/index.html
  reference/workflow/action/index.html
  reference/workflow/index.html
  reference/workflow/resolver/index.html
  resolveurs/index.html
  search/search_index.json
  sitemap.xml.gz
  tutoriel_1_archive/index.html
  tutoriel_2_flux_vecteur/index.html
  tutoriel_3_flux_raster/index.html
  tutoriel_pcrs/index.html
  upload_descriptor/index.html
  workflow/index.html
Labels: none

feat(logs) : relecture
  sdk_entrepot_gpf/io/ApiRequester.py
  sdk_entrepot_gpf/scripts/entities.py
  sdk_entrepot_gpf/scripts/run.py
  sdk_entrepot_gpf/store/interface/LogsInterface.py
  tests/store/interface/LogsInterfaceTestCase.py
Labels: quality

remarques PCRS
  docs/tutoriel_pcrs.md
Labels: documentation

oooops 1
  docs/tutoriel_pcrs.md
Labels: documentation
