Repository Geoplateforme/sdk-entrepot, changes with the labels that .github/labeler.yml gives for each.
All labels: tooling, documentation, enhancement, quality

v0.1.19
  sdk_entrepot_gpf/__init__.py
Labels: none

ActionAbstractTestCase : complétion du test
  tests/workflow/action/ActionAbstractTestCase.py
Labels: quality

CHANGELOG
  CHANGELOG.md
Labels: none

MetadataTestCase: correction nom fonction
  tests/store/MetadataTestCase.py
Labels: quality

CHANGE LOG : ajout métadonnées (v0.1.19)
  CHANGELOG.md
Labels: none

main: upload file affichage traceback
  sdk_entrepot_gpf/__main__.py
Labels: none

add test on pull request
  .github/workflows/ci-dev.yml
  .github/workflows/ci-prod.yml
Labels: tooling

main: activation partie pour les métadonnées
  sdk_entrepot_gpf/__main__.py
Labels: none

metadata: debug (un)publish()
  sdk_entrepot_gpf/store/Metadata.py
  tests/store/MetadataTestCase.py
Labels: quality

CreatedByUploadFileInterface: debug tests
  sdk_entrepot_gpf/store/interface/CreatedByUploadFileInterface.py
  tests/store/interface/CreatedByUploadFileInterfaceTestCase.py
Labels: quality

main: metatada gestion publication
  sdk_entrepot_gpf/__main__.py
Labels: none

main: pylint + mypy
  sdk_entrepot_gpf/__main__.py
Labels: none

main : ajout des epilogs
  sdk_entrepot_gpf/__main__.py
Labels: none

CHANGELOG v0.1.19
  CHANGELOG.md
Labels: none

default.ini: ajout valeur client_secret et client_id
  sdk_entrepot_gpf/_conf/default.ini
Labels: none

configuration.md: ajout doc client_id et client_secret
  docs/configuration.md
Labels: documentation

Revert "configuration.md: ajout doc client_id et client_secret"
  docs/configuration.md
Labels: documentation

Revert "default.ini: ajout valeur client_secret et client_id"
  sdk_entrepot_gpf/_conf/default.ini
Labels: none

default.ini: ajout valeur client_secret et client_id
  sdk_entrepot_gpf/_conf/default.ini
Labels: none

configuration.md: ajout doc client_id et client_secret
  docs/configuration.md
Labels: documentation

AuthentifierTestCase: maj conf pour tests
  tests/_conf/test_authentifier.ini
  tests/auth/AuthentifierTestCase.py
Labels: quality

CHANGELOG v0.1.19
  CHANGELOG.md
Labels: none

Update docs/configuration.md
  docs/configuration.md
Labels: documentation

ApiRequester: suppression des affichage des erreurs fait dans le main
  sdk_entrepot_gpf/__main__.py
  sdk_entrepot_gpf/io/ApiRequester.py
Labels: none

Workflow: transmission behavior pr ConfigurationAction et OfferingAction
  sdk_entrepot_gpf/workflow/Workflow.py
Labels: none

ApiRequester: propagation NotFoundError
  sdk_entrepot_gpf/__main__.py
  sdk_entrepot_gpf/io/ApiRequester.py
Labels: none

Offering.api_delete(): attente que la suppression soit faite
  sdk_entrepot_gpf/store/Offering.py
  sdk_entrepot_gpf/workflow/action/OfferingAction.py
Labels: none

CHANGELOG v0.1.19
  CHANGELOG.md
Labels: none

debug mypy et tests
  sdk_entrepot_gpf/store/Offering.py
  tests/io/ApiRequesterTestCase.py
  tests/workflow/WorkflowTestCase.py
Labels: quality

UploadAction: debug gestion Ctrl+C
  sdk_entrepot_gpf/workflow/action/UploadAction.py
  tests/workflow/action/UploadActionTestCase.py
Labels: quality

main: ajout ctrl_c_upload()
  sdk_entrepot_gpf/__main__.py
Labels: none

CHANGE LOG v0.1.19
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Initialisation v0.1.20
  CHANGELOG.md
  sdk_entrepot_gpf/__init__.py
Labels: none

SynchronizeOfferingAction: initialisation
  sdk_entrepot_gpf/_conf/default.ini
  sdk_entrepot_gpf/_conf/json_schemas/workflow.json
  sdk_entrepot_gpf/store/Offering.py
  sdk_entrepot_gpf/workflow/Workflow.py
  sdk_entrepot_gpf/workflow/action/SynchronizeOfferingAction.py
Labels: none

Refactoring delete_cascade pour ajout de DeleteAction
  sdk_entrepot_gpf/store/Configuration.py
  sdk_entrepot_gpf/store/StoreEntity.py
  sdk_entrepot_gpf/store/StoredData.py
Labels: none

DeleteAction: debut de mise en place
  sdk_entrepot_gpf/_conf/json_schemas/workflow.json
  sdk_entrepot_gpf/workflow/Workflow.py
  sdk_entrepot_gpf/workflow/action/DeleteAction.py
Labels: none

main.delete: prise en compte du datastore
  sdk_entrepot_gpf/__main__.py
Labels: none

DeleteAction: suite et mise en place des tests
  sdk_entrepot_gpf/__main__.py
  sdk_entrepot_gpf/store/Configuration.py
  sdk_entrepot_gpf/store/StoredData.py
  sdk_entrepot_gpf/workflow/action/DeleteAction.py
  tests/workflow/action/DeleteActionTestCase.py
Labels: quality

CHANGE LOG v0.1.20
  CHANGELOG.md
Labels: none

.github/labeler.yml:

tooling:
  - .github/**/*
  - .gitignore
  - pyproject.toml

dependencies:

documentation:
  - docs/**/*

enhancement:
  - src/**/*
  - pyproject.toml

quality:
  - tests/**/*
