Repository Geoplateforme/sdk-entrepot, changes with the labels that .github/labeler.yml gives for each.
All labels: tooling, documentation, enhancement, quality

Relecture doc
  CHANGELOG.md
  docs/comme-module.md
  docs/resolveurs.md
  docs/workflow.md
Labels: documentation

Mise à jour docstring
  sdk_entrepot_gpf/workflow/action/ActionAbstract.py
  sdk_entrepot_gpf/workflow/resolver/AbstractResolver.py
  sdk_entrepot_gpf/workflow/resolver/DictResolver.py
  sdk_entrepot_gpf/workflow/resolver/DumbResolver.py
  sdk_entrepot_gpf/workflow/resolver/FileResolver.py
  sdk_entrepot_gpf/workflow/resolver/GlobalResolver.py
  sdk_entrepot_gpf/workflow/resolver/StoreEntityResolver.py
  sdk_entrepot_gpf/workflow/resolver/UserResolver.py
Labels: none

mock api_update manquant
  tests/workflow/resolver/StoreEntityResolverTestCase.py
Labels: quality

Initialisation v0.1.21
  CHANGELOG.md
  sdk_entrepot_gpf/__init__.py
Labels: none

Doc : mise à jour des liens
  docs/resolveurs.md
  docs/workflow.md
  mkdocs.yml
Labels: documentation

Doc : correction admonitions
  docs/comme-executable.md
  docs/comme-module.md
  docs/configuration.md
Labels: documentation

Doc : déploiement doc
  docs/development.md
Labels: documentation

typo
  docs/workflow.md
Labels: documentation

Relecture et corrections
  CHANGELOG.md
  README.md
  docs/comme-executable.md
  docs/comme-module.md
  docs/configuration.md
  docs/configuration_details.md
  docs/resolveurs.md
  docs/upload_descriptor.md
  mkdocs.yml
  pyproject.toml
  sdk_entrepot_gpf/io/Dataset.py
  sdk_entrepot_gpf/io/Errors.py
  sdk_entrepot_gpf/store/Configuration.py
  sdk_entrepot_gpf/store/StoreEntity.py
  sdk_entrepot_gpf/store/StoredData.py
  sdk_entrepot_gpf/store/Upload.py
  sdk_entrepot_gpf/store/interface/DownloadInterface.py
  sdk_entrepot_gpf/workflow/Workflow.py
  sdk_entrepot_gpf/workflow/action/ActionAbstract.py
  sdk_entrepot_gpf/workflow/resolver/UserResolver.py
Labels: tooling, documentation, enhancement

Deployed 49bf163 with MkDocs version: 1.5.3
  comme-executable/index.html
  comme-module/index.html
  configuration/index.html
  configuration_details/index.html
  development/index.html
  reference/io/index.html
  reference/store/index.html
  reference/workflow/action/index.html
  reference/workflow/index.html
  reference/workflow/resolver/index.html
  resolveurs/index.html
  search/search_index.json
  sitemap.xml.gz
  upload_descriptor/index.html
  workflow/index.html
Labels: none

Renommage CopieConfigurationAction => CopyConfigurationAction
  sdk_entrepot_gpf/workflow/Workflow.py
  sdk_entrepot_gpf/workflow/action/CopyConfigurationAction.py
  tests/workflow/action/CopyConfigurationActionTestCase.py
Labels: quality

Workflow : renommage type copy-configuration
  sdk_entrepot_gpf/_conf/json_schemas/workflow.json
  sdk_entrepot_gpf/workflow/Workflow.py
Labels: none

CHANGE LOG v0.1.21
  CHANGELOG.md
Labels: none

ajout `upload_delete_data` dans la configuration
  CHANGELOG.md
  sdk_entrepot_gpf/_conf/default.ini
Labels: none

Upload.api_delete_data_file(): suppression exception rep data
  sdk_entrepot_gpf/store/Upload.py
  tests/store/UploadTestCase.py
Labels: quality

CHANGE LOG v0.1.21
  CHANGELOG.md
Labels: none

Workflow: gestion des itérations
  sdk_entrepot_gpf/_conf/default.ini
  sdk_entrepot_gpf/_conf/json_schemas/workflow.json
  sdk_entrepot_gpf/workflow/Workflow.py
Labels: none

Workflow: test + pylint
  sdk_entrepot_gpf/workflow/Workflow.py
  tests/workflow/WorkflowTestCase.py
Labels: quality

CHANGE LOG v0.1.21
  CHANGELOG.md
Labels: none

Configuration: fonction édition particulière
  sdk_entrepot_gpf/store/Configuration.py
Labels: none

Configuration: tests + CHANGELOG
  CHANGELOG.md
  tests/store/ConfigurationTestCase.py
  tests/store/interface/FullEditInterfaceTestCase.py
Labels: quality

Apply suggestions from code review
  CHANGELOG.md
  sdk_entrepot_gpf/store/Configuration.py
Labels: none

Resolver: possibilité de descendre dans les dictionnaire et liste
  sdk_entrepot_gpf/_conf/default.ini
  sdk_entrepot_gpf/workflow/resolver/AbstractResolver.py
  sdk_entrepot_gpf/workflow/resolver/DictResolver.py
  sdk_entrepot_gpf/workflow/resolver/StoreEntityResolver.py
  sdk_entrepot_gpf/workflow/resolver/UserResolver.py
Labels: none

Resolver: tests
  CHANGELOG.md
  tests/workflow/resolver/AbstractResolverTestCase.py
  tests/workflow/resolver/StoreEntityResolverTestCase.py
Labels: quality

CHANGE LOG v0.1.21
  CHANGELOG.md
Labels: none

DateResolver: création du résolveur
  sdk_entrepot_gpf/_conf/default.ini
  sdk_entrepot_gpf/workflow/resolver/DateResolver.py
Labels: none

DateResolver: doc
  docs/resolveurs.md
Labels: documentation

Initialisation v0.1.22
  CHANGELOG.md
Labels: none

CHANGE LOG v0.1.22
  CHANGELOG.md
Labels: none

CHANGE LOG v0.1.22
  CHANGELOG.md
Labels: none

La modif sera dans la v0.1.22
  CHANGELOG.md
Labels: none

UploadTestCase: mise à jour
  tests/store/UploadTestCase.py
Labels: quality

Upload: correction suite modif requête GPF
  sdk_entrepot_gpf/store/Upload.py
Labels: none

CHANGE LOG v0.1.21
  CHANGELOG.md
Labels: none

Initialisation v0.1.22
  CHANGELOG.md
Labels: none

Change log v0.1.22
  CHANGELOG.md
Labels: none

DateResolver: tests
  sdk_entrepot_gpf/workflow/resolver/DateResolver.py
  tests/workflow/resolver/DateResolverTestCase.py
Labels: quality

CHANGE LOG v0.1.22 (correction)
  CHANGELOG.md
Labels: none

Suite correction
  docs/comme-executable.md
  docs/comme-module.md
  docs/configuration.md
  docs/configuration_details.md
  docs/development.md
  docs/resolveurs.md
  docs/tutoriel_1_archive.md
  docs/tutoriel_2_flux_vecteur.md
  docs/workflow.md
Labels: documentation

DateResolver: ajout au main + doc
  docs/resolveurs.md
  sdk_entrepot_gpf/__main__.py
Labels: documentation

.github/labeler.yml:

tooling:
  - .github/**/*
  - .gitignore
  - pyproject.toml

dependencies:

documentation:
  - docs/**/*

enhancement:
  - src/**/*
  - pyproject.toml

quality:
  - tests/**/*
