Repository Geoplateforme/sdk-entrepot, changes with the labels that .github/labeler.yml gives for each.
All labels: tooling, documentation, enhancement, quality

Deployed d504f28 with MkDocs version: 1.5.3
  comme-executable/index.html
  comme-module/index.html
  configuration/index.html
  configuration_details/index.html
  development/index.html
  resolveurs/index.html
  search/search_index.json
  sitemap.xml.gz
  tutoriel_1_archive/index.html
  tutoriel_2_flux_vecteur/index.html
  workflow/index.html
Labels: none

Creation de la classe permission
  sdk_entrepot_gpf/_conf/default.ini
  sdk_entrepot_gpf/store/Permissions.py
  sdk_entrepot_gpf/workflow/action/PermissionAction.py
Labels: none

ajout de la classe permission
  sdk_entrepot_gpf/workflow/action/PermissionAction.py
Labels: none

ProcessingExecutionAction: debug datastore pour création
  sdk_entrepot_gpf/workflow/action/ProcessingExecutionAction.py
Labels: none

Doc résolveurs : relecture
  docs/resolveurs.md
Labels: documentation

Update tests/workflow/resolver/StoreEntityResolverTestCase.py
  tests/workflow/resolver/StoreEntityResolverTestCase.py
Labels: quality

ProcessingExecutionAction: maj tests
  tests/workflow/action/ProcessingExecutionActionTestCase.py
Labels: quality

CHANGE LOG v0.1.22
  CHANGELOG.md
Labels: none

Renommage Copie.CopyConfigurationAction
  CHANGELOG.md
  tests/workflow/WorkflowTestCase.py
Labels: quality

Mise à jour liens
  README.md
  pyproject.toml
Labels: tooling, enhancement

Changelog : ajout prochaine version
  CHANGELOG.md
Labels: none

v0.1.22
  sdk_entrepot_gpf/__init__.py
Labels: none

v0.1.23
  CHANGELOG.md
  sdk_entrepot_gpf/__init__.py
Labels: none

ajout testcase
  sdk_entrepot_gpf/store/Permission.py
  sdk_entrepot_gpf/workflow/action/PermissionAction.py
  tests/workflow/action/PermissionActionTestCase.py
Labels: quality

corrections erreurs pylint
  sdk_entrepot_gpf/workflow/action/PermissionAction.py
Labels: none

correction pylint testcase
  tests/workflow/action/PermissionActionTestCase.py
Labels: quality

StoreEntityResolverTestCase: refactoring
  tests/workflow/resolver/StoreEntityResolverTestCase.py
Labels: quality

Ajout de commentaires au testcase
  tests/workflow/action/PermissionActionTestCase.py
Labels: quality

StoreEntityResolver: ajout possibilité de récupérer une liste
  sdk_entrepot_gpf/_conf/default.ini
  sdk_entrepot_gpf/workflow/resolver/StoreEntityResolver.py
  tests/workflow/resolver/StoreEntityResolverTestCase.py
Labels: quality

StoreEntityResolverTestCase: ajout test sur les tags
  CHANGELOG.md
  tests/workflow/resolver/StoreEntityResolverTestCase.py
Labels: quality

StoreEntityResolver: pylint, mypy
  sdk_entrepot_gpf/workflow/resolver/StoreEntityResolver.py
  tests/workflow/resolver/StoreEntityResolverTestCase.py
Labels: quality

Workflow: ajout PermissionAction
  CHANGELOG.md
  sdk_entrepot_gpf/_conf/json_schemas/workflow.json
  sdk_entrepot_gpf/workflow/Workflow.py
  tests/workflow/WorkflowTestCase.py
Labels: quality

ajout classe Access
  .vscode/settings.json
  sdk_entrepot_gpf/_conf/default.ini
  sdk_entrepot_gpf/_conf/json_schemas/workflow.json
  sdk_entrepot_gpf/store/Access.py
  sdk_entrepot_gpf/workflow/Workflow.py
  sdk_entrepot_gpf/workflow/action/AccessAction.py
Labels: none

Update sdk_entrepot_gpf/workflow/resolver/StoreEntityResolver.py
  sdk_entrepot_gpf/workflow/resolver/StoreEntityResolver.py
Labels: none

Workflow: recherche du datastore au niveau de l'étape
  sdk_entrepot_gpf/workflow/Workflow.py
Labels: none

Workflow: résolveur pour iter_vals
  sdk_entrepot_gpf/workflow/Workflow.py
  tests/workflow/WorkflowTestCase.py
Labels: quality

CHANGE LOG v0.1.24
  CHANGELOG.md
  sdk_entrepot_gpf/_conf/json_schemas/workflow.json
Labels: none

Edit Configuration : correction bug used_data fix #107
  CHANGELOG.md
  sdk_entrepot_gpf/store/Configuration.py
  tests/store/ConfigurationTestCase.py
Labels: quality

v0.1.24
  CHANGELOG.md
  sdk_entrepot_gpf/__init__.py
Labels: none

EntityLogs : ajout interface + gestion json directe
  sdk_entrepot_gpf/store/CheckExecution.py
  sdk_entrepot_gpf/store/ProcessingExecution.py
  sdk_entrepot_gpf/store/interface/LogsInterface.py
  tests/store/CheckExecutionTestCase.py
  tests/store/ProcessingExecutionTestCase.py
Labels: quality

json.loads : utilisation de JsonHelper.loads sauf exception expliquée afin d'afficher les erreurs clairement
  CHANGELOG.md
  sdk_entrepot_gpf/__init__.py
  sdk_entrepot_gpf/io/ApiRequester.py
  sdk_entrepot_gpf/io/Errors.py
  sdk_entrepot_gpf/io/JsonConverter.py
  sdk_entrepot_gpf/workflow/Workflow.py
  sdk_entrepot_gpf/workflow/resolver/DictResolver.py
  sdk_entrepot_gpf/workflow/resolver/FileResolver.py
  tests/workflow/WorkflowTestCase.py
Labels: quality

AbstractResolver : get retourne un json si non str + message si clef non trouvée
  sdk_entrepot_gpf/workflow/resolver/AbstractResolver.py
  tests/workflow/resolver/AbstractResolverTestCase.py
  tests/workflow/resolver/GlobalResolverTestCase.py
Labels: quality

ajout EditUsedDataConfigurationAction + ajout au workflow
  sdk_entrepot_gpf/_conf/json_schemas/workflow.json
  sdk_entrepot_gpf/workflow/Workflow.py
  sdk_entrepot_gpf/workflow/action/EditUsedDataConfigurationAction.py
  tests/workflow/WorkflowTestCase.py
  tests/workflow/action/EditUsedDataConfigurationActionTestCase.py
Labels: quality

CHANGE LOG v0.1.25
  CHANGELOG.md
Labels: none

Update sdk_entrepot_gpf/workflow/action/EditUsedDataConfigurationAction.py
  sdk_entrepot_gpf/workflow/action/EditUsedDataConfigurationAction.py
Labels: none

corentin oeil de lynx
  sdk_entrepot_gpf/_data/workflows/PCRS.jsonc
Labels: none

final corentin review
  docs/tutoriel_pcrs.md
Labels: documentation

même datasheet partout possible
  sdk_entrepot_gpf/_data/workflows/PCRS.jsonc
Labels: none

feature(cli) : ajout annulation traitement
  CHANGELOG.md
  sdk_entrepot_gpf/scripts/entities.py
Labels: none

init v0.1.38
  CHANGELOG.md
  sdk_entrepot_gpf/__init__.py
Labels: none

.github/labeler.yml:

tooling:
  - .github/**/*
  - .gitignore
  - pyproject.toml

dependencies:

documentation:
  - docs/**/*

enhancement:
  - src/**/*
  - pyproject.toml

quality:
  - tests/**/*
