Repository Geoplateforme/sdk-entrepot, changes with the labels that .github/labeler.yml gives for each.
All labels: tooling, documentation, enhancement, quality

Refactor error handling for entity type validation
  sdk_entrepot_gpf/workflow/resolver/StoreEntityResolver.py
Labels: none

Refactor import statements for better readability
  sdk_entrepot_gpf/workflow/resolver/StoreEntityResolver.py
Labels: none

Improve formatting of error message initialization
  sdk_entrepot_gpf/workflow/resolver/Errors.py
Labels: none

fix(ConfigurationTestCase): issue 286 delete useless test
  tests/store/ConfigurationTestCase.py
Labels: quality

fix(StoreEntityResolver): issue 286 move block in if block
  sdk_entrepot_gpf/workflow/resolver/StoreEntityResolver.py
Labels: none

fix(StoreEntityResolverTestCase): issue 286 add three mocking tests
  tests/workflow/resolver/StoreEntityResolverTestCase.py
Labels: quality

fix(ConfigurationTestCase): issue 287 mettre en stockage ["_id", "status"] pour réutilisation pour la vérification du résultat
  tests/store/ConfigurationTestCase.py
Labels: quality

Apply batched suggestions from code review
  sdk_entrepot_gpf/workflow/resolver/StoreEntityResolver.py
Labels: none

Update tests/store/ConfigurationTestCase.py
  tests/store/ConfigurationTestCase.py
Labels: quality

Update sdk_entrepot_gpf/workflow/resolver/StoreEntityResolver.py
  sdk_entrepot_gpf/workflow/resolver/StoreEntityResolver.py
Labels: none

Dev get list with fields option (#287)
  CHANGELOG.md
  sdk_entrepot_gpf/store/Configuration.py
  sdk_entrepot_gpf/store/StoreEntity.py
  tests/store/ConfigurationTestCase.py
  tests/store/StoreEntityTestCase.py
Labels: quality

ajout verification types du contenu d'un workflow (#286)
  sdk_entrepot_gpf/_data/workflows/PCRS.jsonc
  sdk_entrepot_gpf/store/Configuration.py
  sdk_entrepot_gpf/workflow/resolver/Errors.py
  sdk_entrepot_gpf/workflow/resolver/StoreEntityResolver.py
  tests/workflow/resolver/StoreEntityResolverTestCase.py
Labels: quality

debug problème compatibilité windows/linux sur les gpkg et shp
  .gitattributes
Labels: none

debug problème compatibilité windows/linux sur les gpkg et shp
  .gitattributes
Labels: none

debug problème compatibilité windows/linux sur les gpkg et shp
  .gitattributes
Labels: none

fix(DatasetTestCase): issue 288 delete md5 after the test
  tests/io/DatasetTestCase.py
Labels: quality

fix(DatasetTestCase): issue 288 fix bug test in order test to pass
  tests/io/DatasetTestCase.py
Labels: quality

fix(Dataset): issue 288 fix according Ludivine's code reveiew
  sdk_entrepot_gpf/io/Dataset.py
Labels: none

fix(DatasetTestCase): issue 288 remove all folders/files created during the test
  tests/io/DatasetTestCase.py
Labels: quality

fix(DatasetTestCase): issue 288 remove addCleanUp() function
  tests/io/DatasetTestCase.py
Labels: quality

Refacto
  sdk_entrepot_gpf/io/Dataset.py
Labels: none

fix(configuration): issue 289 fix documentation according to Ludivine's code review
  docs/configuration.md
Labels: documentation

offres: prise en compte UNPUBLISHED
  CHANGELOG.md
  sdk_entrepot_gpf/store/Offering.py
  sdk_entrepot_gpf/store/StoreEntity.py
  sdk_entrepot_gpf/workflow/action/DeleteAction.py
  tests/store/OfferingTestCase.py
  tests/store/StoreEntityTestCase.py
  tests/workflow/action/DeleteActionTestCase.py
Labels: quality

init v0.1.46
  CHANGELOG.md
  sdk_entrepot_gpf/__init__.py
Labels: none

.github/labeler.yml:

tooling:
  - .github/**/*
  - .gitignore
  - pyproject.toml

dependencies:

documentation:
  - docs/**/*

enhancement:
  - src/**/*
  - pyproject.toml

quality:
  - tests/**/*
