Repository Geoplateforme/sdk-entrepot, changes with the labels that .github/labeler.yml gives for each.
All labels: tooling, documentation, enhancement, quality

.github/labeler.yml:

tooling:
  - .github/**/*
  - .gitignore
  - pyproject.toml

dependencies:

documentation:
  - docs/**/*

enhancement:
  - src/**/*
  - pyproject.toml

quality:
  - tests/**/*

Offering: ajout get_url()
  sdk_entrepot_gpf/store/Offering.py
  sdk_entrepot_gpf/workflow/action/OfferingAction.py
Labels: none

SynchronizeOfferingAction: modification workflow
  sdk_entrepot_gpf/_conf/json_schemas/workflow.json
  sdk_entrepot_gpf/workflow/action/SynchronizeOfferingAction.py
Labels: none

SynchronizeOfferingAction: tests
  tests/workflow/action/SynchronizeOfferingActionTestCase.py
Labels: quality

CHANGELOG v0.1.20
  CHANGELOG.md
Labels: none

Offering: tests
  tests/store/OfferingTestCase.py
Labels: quality

Apply suggestions from code review
  sdk_entrepot_gpf/workflow/action/SynchronizeOfferingAction.py
  tests/workflow/action/SynchronizeOfferingActionTestCase.py
Labels: quality

Apply suggestions from code review
  sdk_entrepot_gpf/store/StoreEntity.py
  sdk_entrepot_gpf/store/StoredData.py
  sdk_entrepot_gpf/workflow/action/DeleteAction.py
  tests/workflow/action/DeleteActionTestCase.py
Labels: quality

DeleteAction: Question de confirmation optionnel
  sdk_entrepot_gpf/_conf/json_schemas/workflow.json
  sdk_entrepot_gpf/workflow/action/DeleteAction.py
  tests/workflow/action/DeleteActionTestCase.py
Labels: quality

main: simplification fonction delete avec DeleteAction
  sdk_entrepot_gpf/__main__.py
Labels: none

DeleteAction: docstring
  sdk_entrepot_gpf/workflow/action/DeleteAction.py
Labels: none

StoreEntity, FullEditInterface, PartialEditInterface: ajout fonction edit()
  sdk_entrepot_gpf/store/StoreEntity.py
  sdk_entrepot_gpf/store/interface/FullEditInterface.py
  sdk_entrepot_gpf/store/interface/PartialEditInterface.py
  sdk_entrepot_gpf/workflow/action/UpdateAction.py
Labels: none

StoreEntity, FullEditInterface, PartialEditInterface: tests
  sdk_entrepot_gpf/store/StoreEntity.py
  sdk_entrepot_gpf/store/interface/FullEditInterface.py
  tests/store/StoreEntityTestCase.py
  tests/store/interface/FullEditInterfaceTestCase.py
  tests/store/interface/PartialEditInterfaceTestCase.py
Labels: quality

resolveur: prise en compte du datastore
  sdk_entrepot_gpf/workflow/Workflow.py
  sdk_entrepot_gpf/workflow/action/ActionAbstract.py
  sdk_entrepot_gpf/workflow/resolver/AbstractResolver.py
  sdk_entrepot_gpf/workflow/resolver/DictResolver.py
  sdk_entrepot_gpf/workflow/resolver/FileResolver.py
  sdk_entrepot_gpf/workflow/resolver/GlobalResolver.py
  sdk_entrepot_gpf/workflow/resolver/StoreEntityResolver.py
  sdk_entrepot_gpf/workflow/resolver/UserResolver.py
Labels: none

renommage UpdateAction => EditAction
  sdk_entrepot_gpf/workflow/action/EditAction.py
Labels: none

EditAction: tests
  tests/workflow/action/EditActionTestCase.py
Labels: quality

Workflow: ajout de EditAction
  sdk_entrepot_gpf/workflow/Workflow.py
Labels: none

WorkflowTestCase: ajout de tests
  tests/workflow/WorkflowTestCase.py
Labels: quality

CHANGELOG v0.1.20
  CHANGELOG.md
Labels: none

resolveur: prise en compte du datastore (suite et fin)
  sdk_entrepot_gpf/workflow/action/ActionAbstract.py
  sdk_entrepot_gpf/workflow/resolver/AbstractResolver.py
  sdk_entrepot_gpf/workflow/resolver/DictResolver.py
  sdk_entrepot_gpf/workflow/resolver/DumbResolver.py
  sdk_entrepot_gpf/workflow/resolver/FileResolver.py
  sdk_entrepot_gpf/workflow/resolver/GlobalResolver.py
  sdk_entrepot_gpf/workflow/resolver/StoreEntityResolver.py
  sdk_entrepot_gpf/workflow/resolver/UserResolver.py
Labels: none

StoreEntityResolverTestCase: prise en compte du datastore
  tests/workflow/resolver/StoreEntityResolverTestCase.py
Labels: quality

Apply suggestions from code review
  CHANGELOG.md
  sdk_entrepot_gpf/store/interface/FullEditInterface.py
  sdk_entrepot_gpf/workflow/action/EditAction.py
Labels: none

Update sdk_entrepot_gpf/workflow/action/DeleteAction.py
  sdk_entrepot_gpf/workflow/action/DeleteAction.py
Labels: none

ajout de CopieConfigurationAction
  sdk_entrepot_gpf/_conf/json_schemas/workflow.json
  sdk_entrepot_gpf/workflow/Workflow.py
  sdk_entrepot_gpf/workflow/action/CopieConfigurationAction.py
Labels: none

CopieConfigurationAction: tests
  sdk_entrepot_gpf/workflow/action/CopieConfigurationAction.py
  tests/workflow/action/CopieConfigurationActionTestCase.py
Labels: quality

CHANGELOG v0.1.20
  CHANGELOG.md
Labels: none

CopieConfigurationAction: debug pylint mypy
  sdk_entrepot_gpf/workflow/Workflow.py
  tests/workflow/action/CopieConfigurationActionTestCase.py
Labels: quality

Apply suggestions from code review
  sdk_entrepot_gpf/workflow/action/CopieConfigurationAction.py
  tests/workflow/action/CopieConfigurationActionTestCase.py
Labels: quality

comme-executable.md: mise en page
  docs/comme-executable.md
Labels: documentation

GlobalResolverTestCase : tests transmission kwargs de resolve
  tests/workflow/resolver/GlobalResolverTestCase.py
Labels: quality

CHANGELOG.md : ajout à la v0.1.20
  CHANGELOG.md
Labels: none

ActionAbstractTestCase : ajout de clef/valeur dans la résolution
  tests/workflow/action/ActionAbstractTestCase.py
Labels: quality

mypy et les mocks...
  tests/workflow/resolver/GlobalResolverTestCase.py
Labels: quality

doc: mise en page
  docs/comme-module.md
  docs/configuration.md
  docs/development.md
  docs/tutoriel_2_flux_vecteur.md
  docs/upload_descriptor.md
Labels: documentation

doc workflow
  docs/workflow.md
Labels: documentation

debut doc résolveurs
  docs/resolveurs.md
Labels: documentation

StoreEntityResolver: api_update avant utilisation de l'entité
  sdk_entrepot_gpf/workflow/resolver/StoreEntityResolver.py
Labels: none

Suite doc résolveurs
  docs/resolveurs.md
Labels: documentation

CHANGE LOG v0.1.20
  CHANGELOG.md
Labels: none

StoreEntityResolver: mise à jour tests
  tests/workflow/resolver/StoreEntityResolverTestCase.py
Labels: quality

Endpoint: neutralisation des fonctions impossibles
  CHANGELOG.md
  sdk_entrepot_gpf/store/Endpoint.py
  tests/store/EndpointTestCase.py
Labels: quality
