Repository Geoplateforme/sdk-entrepot, changes with the labels that .github/labeler.yml gives for each.
All labels: tooling, documentation, enhancement, quality

.github/labeler.yml:

tooling:
  - .github/**/*
  - .gitignore
  - pyproject.toml

dependencies:

documentation:
  - docs/**/*

enhancement:
  - src/**/*
  - pyproject.toml

quality:
  - tests/**/*

fix(tutoriel_2_archive): add delete md5 file in local if file is corrupted and add option -b DELETE for data delivery
  docs/tutoriel_2_flux_vecteur.md
Labels: documentation

fix(tutoriel_3_flux_raster) : add nota bene part in order to delete the md5 corrupted file if it exists and add option -b DELETE in command line for data delivery
  docs/tutoriel_3_flux_raster.md
Labels: documentation

fix(workflow): fix by replacing "synchronisation" instead "suppression"
  docs/workflow.md
Labels: documentation

fix(workflow): fix by replacing with upper case the first letter of the beginning word
  docs/workflow.md
Labels: documentation

fix(workflow): fix by replacing "Canton" by the following expression "{user.last_name}"
  sdk_entrepot_gpf/_data/workflows/generic_archive.jsonc
Labels: none

fix(tutoriel): back to initial version because md5 file corrected in new release
  docs/tutoriel_1_archive.md
  docs/tutoriel_2_flux_vecteur.md
  docs/tutoriel_3_flux_raster.md
Labels: documentation

fix(tutoriel): add -b DELETE option in order to delete the existing delivery and after to create a new one
  docs/tutoriel_pcrs.md
Labels: documentation

tutoriel_1_archive.md, tutoriel_2_flux_vecteur.md & tutoriel_3_flux_raster.md: petites corrections
  docs/tutoriel_1_archive.md
  docs/tutoriel_2_flux_vecteur.md
  docs/tutoriel_3_flux_raster.md
Labels: documentation

workflows/PCRS.jsonc : petite correction dans le workflow
  sdk_entrepot_gpf/_data/workflows/PCRS.jsonc
Labels: none

Dossier_PCRS/PCRS.jsonc Dossier_PCRS/PCRS_descriptor.jsonc: modification du workflow et fichier descripteur du jeu de données PCRS
  Dossier_PCRS/PCRS.jsonc
  Dossier_PCRS/PCRS_descriptor.jsonc
Labels: none

fix(PCRS.jsonc): fix parameters tms value to LAMB93_5cm and dele comments in order to validate jsonc structure with jsonlint
  Dossier_PCRS/PCRS.jsonc
Labels: none

Authentifier: force novelle connexion si retry + proxy
  sdk_entrepot_gpf/auth/Authentifier.py
Labels: none

fix(jsonc): fichiers workflow et fichiers descripteur
  Dossier_PCRS/PCRS.jsonc
  Dossier_PCRS/PCRS_descriptor_maj.jsonc
  docs/tutoriel_pcrs.md
Labels: documentation

fix(md5): empreinte fichier md5
  Dossier_PCRS/Rennes_Eurosense_PCRS.md5
Labels: none

ajout "storage_tags": ["PYRAMIDE"]
  sdk_entrepot_gpf/_data/workflows/PCRS.jsonc
Labels: none

PCRS.jsonc : top_level fixé à un au lieu de six car sinon on a des pyramides de tuiles tronquées
  Dossier_PCRS/PCRS.jsonc
Labels: none

PCRS.jsonc : rajout des commentaires
  Dossier_PCRS/PCRS.jsonc
Labels: none

PCRS.jsonc : workflow dont le top-level des pyramides de tuiles a été fixé à "1" au lieu de "6"
  Dossier_PCRS/PCRS.jsonc
Labels: none

feat(configuration): issue 203 doc: guider l'utilisateur sur la connexion
  docs/configuration.md
Labels: documentation

feat(documentation_configuration): ajout image
  docs/assets/images/documentation_configuration.png
Labels: documentation

feat(Configuration) : add different types of valid fluxes for a settings of a workflow
  sdk_entrepot_gpf/store/Configuration.py
Labels: none

feat(Errors): Add InvalidFilterValueError class for StoreEntityResolver when value of a filter is invalid
  sdk_entrepot_gpf/workflow/resolver/Errors.py
Labels: none

feat(StoreEntityResolver) : raise an exception "InvalidFilterValueError" for VALID_TYPES list of a settings
  sdk_entrepot_gpf/workflow/resolver/StoreEntityResolver.py
Labels: none

fix(Errors): issue286 black formatting
  sdk_entrepot_gpf/workflow/resolver/Errors.py
Labels: none

feat(CHANGELOG) : add v0.1.44 added and changed parts
  CHANGELOG.md
Labels: none

feat(Configuration) : issue 257 add api_list_offerings() function => Liste les Offering liées à cette Configuration.
  sdk_entrepot_gpf/store/Configuration.py
Labels: none

feat(StoreEntity): issue 257 add get_fields() function => Calcule la liste des champs à demander à l'API lors d'un listing.
  sdk_entrepot_gpf/store/StoreEntity.py
Labels: none

feat(ConfigurationTestCase): add test_list_offerings_with_fields() funcction test => Vérifier que api_list_offerings surcharge bien la liste des champs demandés quand l'utilisateur en précise une.
  tests/store/ConfigurationTestCase.py
Labels: quality

Potential fix for pull request finding
  sdk_entrepot_gpf/store/StoreEntity.py
Labels: none

Potential fix for pull request finding
  sdk_entrepot_gpf/store/StoreEntity.py
Labels: none

feat(DatasetTestCase-upload_descriptor): issue 253 ajout des tests au test du constructeur avec un data_dirs pointant directement sur un fichier (et non un dossier).
  tests/_data/datasets/4_test_dataset_file/.gitignore
  tests/_data/datasets/4_test_dataset_file/standalone.txt
  tests/_data/datasets/4_test_dataset_file/upload_descriptor.json
  tests/io/DatasetTestCase.py
Labels: quality

Potential fix for pull request finding
  docs/tutoriel_1_archive.md
Labels: documentation

Potential fix for pull request finding
  docs/configuration.md
Labels: documentation

Potential fix for pull request finding
  docs/configuration.md
Labels: documentation

Potential fix for pull request finding
  docs/configuration.md
Labels: documentation

Potential fix for pull request finding
  docs/configuration.md
Labels: documentation

Potential fix for pull request finding
  docs/configuration.md
Labels: documentation

Update sdk_entrepot_gpf/store/Configuration.py
  sdk_entrepot_gpf/store/Configuration.py
Labels: none

Update sdk_entrepot_gpf/store/StoreEntity.py
  sdk_entrepot_gpf/store/StoreEntity.py
Labels: none

fix(ConfigurationTestCase-StoreEntityResolverTestCase): issue286 some added unit tests for VALID_TYPES configurations
  tests/store/ConfigurationTestCase.py
  tests/workflow/resolver/StoreEntityResolverTestCase.py
Labels: quality
