Repository Geoplateforme/sdk-entrepot, changes with the labels that .github/labeler.yml gives for each.
All labels: tooling, documentation, enhancement, quality

doc workflow: correction
  docs/workflow.md
Labels: documentation

Config: première version pour le contrôle des valeurs obligatoires
  sdk_entrepot_gpf/io/Config.py
Labels: none

description conf: début de rédaction
  tmp2.json
Labels: none

Doc comme-module complété
  docs/comme-module.md
Labels: documentation

doc configuration ajout authentification à double facteurs
  docs/configuration.md
Labels: documentation

améliorations erwan baron
  docs/tutoriel_pcrs.md
Labels: documentation

faute de frappe
  docs/tutoriel_pcrs.md
Labels: documentation

précision format
  docs/tutoriel_pcrs.md
Labels: documentation

Fix typos in comments and documentation
  docs/comme-module.md
Labels: documentation

Fix grammatical errors in configuration documentation
  docs/configuration.md
Labels: documentation

Fix typos in EditUsedDataConfigurationActionTestCase
  tests/workflow/action/EditUsedDataConfigurationActionTestCase.py
Labels: quality

Fix typo in comment and improve error message
  sdk_entrepot_gpf/workflow/action/EditUsedDataConfigurationAction.py
Labels: none

Update comments for used_data handling
  docs/workflow.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Fixes in comme-executable.md
  docs/comme-executable.md
Labels: documentation

Improve help message for config file argument
  sdk_entrepot_gpf/scripts/run.py
Labels: none

Fix help message for config file argument
  sdk_entrepot_gpf/scripts/run.py
Labels: none

EditUsedDataConfigurationAction: correction pylint + tests
  sdk_entrepot_gpf/workflow/action/EditUsedDataConfigurationAction.py
  tests/workflow/action/EditUsedDataConfigurationActionTestCase.py
Labels: quality

Dataset: debug pour les dossiers non relatif au fichier descripteur
  CHANGELOG.md
  sdk_entrepot_gpf/io/Dataset.py
Labels: none

Fix typo in CHANGELOG.md
  CHANGELOG.md
Labels: none

init v0.1.44
  CHANGELOG.md
  sdk_entrepot_gpf/__init__.py
Labels: none

Deployed 03175e73 with MkDocs version: 1.6.1
  comme-executable/index.html
  comme-module/index.html
  configuration/index.html
  objects.inv
  search/search_index.json
  sitemap.xml.gz
  tutoriel_pcrs/index.html
  workflow/index.html
Labels: none

tuto pcrs : debug affichage
  docs/tutoriel_pcrs.md
Labels: documentation

Deployed aa0cb824 with MkDocs version: 1.6.1
  search/search_index.json
  tutoriel_pcrs/index.html
Labels: none

Configuration.edit: Revert de la modification sur les used_data + exception en cas de paramètre vide
  CHANGELOG.md
  sdk_entrepot_gpf/store/Configuration.py
  tests/store/ConfigurationTestCase.py
Labels: quality

Configuration.edit: amélioration message erreur
  sdk_entrepot_gpf/store/Configuration.py
  tests/store/ConfigurationTestCase.py
Labels: quality

init v0.1.45
  CHANGELOG.md
  sdk_entrepot_gpf/__init__.py
Labels: none

Mise à jour des md5 des données exemple
  sdk_entrepot_gpf/_data/datasets/1_dataset_vector/CANTON.md5
  sdk_entrepot_gpf/_data/datasets/2_dataset_archive/CANTON.md5
  sdk_entrepot_gpf/_data/datasets/3_dataset_raster/ain.md5
Labels: none

fix(remaining_bugs): fix remaining bugs when lauching and running check.sh in Python virtual environment
  .gitattributes
  .pylintrc
  requirements-dev.txt
  sdk_entrepot_gpf/io/ApiRequester.py
  sdk_entrepot_gpf/io/JsonConverter.py
  tests/io/ApiRequesterTestCase.py
Labels: quality

fix(tutoriel_1_archive): add nota bene to add the number of release python in variable in line command
  docs/tutoriel_1_archive.md
Labels: documentation

fix(tutoriel_2_flux_vecteur): add nota bene to inform to add the number of release of python in variable in line command
  docs/tutoriel_2_flux_vecteur.md
Labels: documentation

fix(tutoriel_3_flux_raster): add nota bene to inform to add the number of release of Python in variable in line command
  docs/tutoriel_3_flux_raster.md
Labels: documentation

feat(publier_une_archive): add a shell script to publish an archive on Geoplateforme
  docs/publier_une_archive.sh
Labels: documentation

feat(publier_un_flux_vecteur): add shell script to publish a vector flux on Geoplateforme
  docs/publier_un_flux_vecteur.sh
Labels: documentation

feat(publier_un_flux_raster): add shell script to publish a raster flux on Geoplateforme
  docs/publier_un_flux_raster.sh
Labels: documentation

fix(publier_un_flux_raster): delete shell script because it is useless
  docs/publier_un_flux_raster.sh
Labels: documentation

fix(publier_un_flux_vecteur): delete shell script because it is useless
  docs/publier_un_flux_vecteur.sh
Labels: documentation

fix(publier_una_archive): delete shell script because it is useless
  docs/publier_une_archive.sh
Labels: documentation

fix(tutoriel_1_archive): add nota bene part in order to delete the md5 files if the file is corrupted in section 1 "Livraison des données"
  docs/tutoriel_1_archive.md
Labels: documentation

fix(tutoriel_1_archive): add sh for shell script command line
  docs/tutoriel_1_archive.md
Labels: documentation

.github/labeler.yml:

tooling:
  - .github/**/*
  - .gitignore
  - pyproject.toml

dependencies:

documentation:
  - docs/**/*

enhancement:
  - src/**/*
  - pyproject.toml

quality:
  - tests/**/*
